body{
    background-color: black;
}

.resizeLogo{
    width: 1.5rem;
}

.navbar{
    z-index: 2;
}

.imgCardResize{
    width: 100%;
    height: 15vh;
    object-fit: cover;
}

p{
    font-size: 1rem;
}

/* :hover {
    outline: 1px solid red;
  } */